
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration from VK Page</title>
    <center>
        <form id="1" action="#" th:action="@{/facebookConnect}" th:object="${facebookConnect}" method="post">
            <table>
                <tr>
                    <td>Email: </td><td><input id= "2" type="email" th:field="*{Email}"  maxlength="50"/></td>
                </tr>
                <tr>
                    <td> Password  :</td> <td> <input type="password"  th:field= "*{Pass}" minlength="5" maxlength="20" required/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </center>
        </html>