
<!DOCTYPE HTML>
<html xml lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<script >
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    var email = getCookie('fbemail');
    alert (email);
    function setemail(){
        document.getElementById("mail").value = email;
    }
</script>
<head>
    <title>FB Authorization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FB Authorization</title>
</head>
<body onload="setemail()">
<div style="text-align: center;">
    <h1>Authorization Success. You can set password on this pages.</h1>
    <center>
        <form action="#" th:action="@{/facebookConnect}" th:object="${facebookConnect}" method="post">
            <table>
                <tr>
                    <td>Email: </td><td><input type="email" id="mail" th:field="*{Email}" required maxlength="50" readonly/></td>
                </tr>
                <tr>
                    <td> Password  :</td> <td> <input type="password"  th:field= "*{Pass}" minlength="5" maxlength="20" required/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Change Password" /></td>
                </tr>
            </table>
        </form>
    </center>
    <a href="/greeting">Return to Registration page</a>
    <a href="/SetInfo">Change profile information</a>
</div>
</body>
</html>