<!DOCTYPE HTML>
<html
        xml lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">




<head>
    <h1 align="center">Registration page</h1>
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/fv.css}" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="User account registration" />
    <meta name="author" content="Amir Boroumand" />
    <link rel="icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<title>Registration Page</title>
<center>

    <h1>Form</h1>

<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <table>
       <tr>
           <td>Email: </td><td><input type="email" th:field="*{Email}" required/></td>
       </tr>
    <tr>
        <td> Password  :</td> <td> <input type="password"  th:field= "*{Pass}" minlength="5" maxlength="20" required/></td>
    </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>

         </tr>

    </table>
</form>
    <a href="/authorization">Authorization</a>
</center>
</body>
</html>