<!DOCTYPE HTML>
<html
        xml lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">

<head>
    <h1 align="center">Registration page</h1>
    <meta charset="utf-8" />
    <style type="text/css">
        .block1 {
            width: 200px;

            padding: 5px;
            padding-right: 20px;
            border: solid 1px black;
            float: right;
        }


    </style>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : 1681617121951281,
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v3.0'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1681617121951281',
                cookie     : true,  // enable cookies to allow the server to access
                                    // the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v3.0'
            });



            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

        };
        //function checkLoginState() {
        //    FB.getLoginStatus(function(response) {
        //        statusChangeCallback(response);
        //    });
        //}

    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me',{fields: 'email,name'}, function(response) {
            console.log('Successful login for: ' + response.name);
            console.log(response);
            window.location.replace("/facebookConnect")
        });
    }
    </script>
</head>
<body>
<title>Registration Page</title>
<center>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <table>
       <tr>
           <td>Email: </td><td><input type="email" th:field="*{Email}" required maxlength="50"/></td>
       </tr>
    <tr>
        <td> Password  :</td> <td> <input type="password"  th:field= "*{Pass}" minlength="5" maxlength="20" required/></td>
    </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td><td><a href="/authorization"><button type="button">Authorization</button></a> </td>
         </tr>
    </table>
</form>

   <div class="block1"> <p>Войти на сайт с помощью:</p>
    <p><a href="https://oauth.vk.com/authorize?client_id=6637407&display=page&redirect_uri=http://localhost:8080/VkReg&scope=email&response_type=token&v=5.80">
        <img src="https://oprosmoskva.ru/wp-content/uploads/vk-logo-psd.png" width="120" height="35"></a></p>
   <p><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
   </fb:login-button></p>
   </div>


</center>
</body>
</html>