<!DOCTYPE HTML>
<html
        xml lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">

<head>
    <h1 align="center">Registration from Vk page</h1>
    <meta charset="utf-8" />
    <script type="text/javascript" >
    function showLoc() {
  var str = String(window.location);
  var arr = str.split('#');
  var a = arr.length - 1;
  var email = arr[a];
    var tok = arr[1];
    var token = tok.split('&')
  var elem = document.getElementById('2');
  elem.setAttribute('value', email);
    document.cookie = ('token = ' + token[0]);
    document.cookie = ('time = ' + token[1]);
     document.cookie = ('id = ' + token[2]);
     document.cookie = ('email = ' + token[3]);

    alert(document.cookie);

}
    </script>
</head>

<body onload="showLoc()">

<title>Registration from VK Page</title>
<center>
    <form id="1" action="#" th:action="@{/VkReg}" th:object="${VkReg}" method="post">
        <table>
            <tr>
                <td>Email: </td><td><input id= "2" type="email" th:field="*{Email}"  maxlength="50"/></td>
            </tr>
            <tr>
                <td> Password  :</td> <td> <input type="password"  th:field= "*{Pass}" minlength="5" maxlength="20" required/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>


</center>
</body>
</html>