<!DOCTYPE HTML>
<html
        xml lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <script type="text/javascript" >
    function showLoc() {
  var str = String(window.location);
  var arr = str.split('#');
    var yakor = arr[1];
    var tok = yakor.split('&');
    var spl1 = tok[0];
    var res1 = spl1.split('=');
    document.cookie = ('token = ' + res1[1]);
    var spl2 = tok[2];
    var res2 = spl2.split('=');
    document.cookie = ('id = ' + res2[1]);
    var spl3 = tok[3];
    var res3 = spl3.split('=');
    document.cookie = ('email = ' + res3[1]);

        //alert(document.cookie);


    window.location.replace("/VkRegResult")}

    document.addEventListener("DOMContentLoaded", showLoc)
    </script>
</head>

<body >

</body>
</html>